.connect {
  text-align: center;
  margin-bottom: 17rem;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
  }
  &__notice {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 6rem;
    span {
      color: $primary-color;
    }
  }
  &__list {
    list-style: none;
    @include flex(stretch, space-between);
  }
  &__item {
    width: calc(25% - 22.5px);
  }
}
@include maxw(1023px) {
  .connect {
    margin-bottom: 12rem;
  }
}
@include maxw(767px) {
  .connect {
    margin-bottom: 5rem;
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      width: calc(50% - 1rem);
      margin-bottom: 1rem;
    }
  }
}
@media screen and (min-width: 568px) and (max-width: 737px) {
  .connect {
    &__item {
      width: calc(25% - 22.5px);
    }
  }
}
